.testimonial-control{
  text-decoration: none !important;
}

#carouselTestimonial, #carouselTestimonialWidget{
  min-height: 300px;
  display: flex;
  align-items: center;
}

.title-testimonial{
  text-align: center;
}
.carousel-testimonial-plugin{
  min-height: 250px;
  display: flex;
  align-items: center;
}

.testimonial-control:visited{
  color: black !important;
}

.testimonial-control:hover{
  color: black !important;
}

.widget a:visited{
  color: black !important;
}
.widget a{
  color: black !important;
}
